body{
	border:5px solid black;
	float: center;
	background-color:#00CED1;
}
div{
	display: block;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:20px ;
	margin-left:20px:
	}
	.header{
		text-align: center;
		padding:20px;
		background-color;#00CED1;
	}
	.topnav { 
	overflow:hidden;
	background-color: #3CB371
}
	.topnav a{
	float:left;
	display:block;
	text-align:center;
	padding:14px 16 px;
	text-decoration:none;
	color:#f3f3f3;
}
	.topnav a:hover{
	background-color:#000000;
	color:white;
	}
	.footer{
	text-align: center;
	padding:10px;
	background-color:#00CED1
}	